<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0352527 0.844694 0.443951" rpy="2.45365 -0.00231181 -3.12438" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0352527 0.844694 0.443951   0.00849325 0.941384 -0.337226 0.00181461 base_link camera_color_optical_frame" />
</launch>
